*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Didact Gothic', sans-serif;
	
}

body
{
	background-color: black;
	background-image: url(../images/wp6.png);
}
.page
{
	margin: 0 auto;
	width: 1000px;
	background-color: #c2b2af;
	/*border:	2px solid red;*/
/*	position: absolute;*/
}

/*.menu
{
	height: 150px;
	background-color: #e4d8b4;
	background-image: url(../images/wp2.png);
	background-size: 1200px 800px;
	background-position: center;
}*/

/*h3
{
	margin-bottom: 5px;
}*/

p
{
	color: grey;

}

/*.sidebar
{
	height: 300px;
	width: 200px;
	background-color: #e4d8b4;
	float: left;
}*/

.content
{
	/*height: 500px;*/
	background-color: #f5cf83;
	padding: 20px;
	margin: 0px auto;
	background-image: url(../images/car2.png);
	background-size: cover;
	background-position: center;
	/*float: left;*/
}

.article-image
{
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.footer
{
	border: 2px dotted yellow;
	background-color: #c2b28f;
	clear: both;
	/*overflow: auto;*/
}

.cols::after
{
	content: "";
	clear: both;
	display: block;
}

.column
{
	background-color: #b2d6ff;
	height: 160px;
	width: 30%;
	margin: 20px 1.3%;
	float: left;
	/*overflow: hidden;*/
	background-color: #e4d8b4;
	overflow: hidden;
}

.avatar
{
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	border-radius: 40px;
	background-color: #e4d8b4;
	background-image: url(../images/tw.png);
	background-size: cover;
	background-position: center;
}

.username
{
	margin-top: 30px;
}

.comment
{
	margin-top: 10px;
	overflow: hidden;
}

